<div style="font-family: sans-serif; margin: 20px;">
  
  <h2>Crypto Wallet</h2>
  
  <button (click)="toggleForm()" style="margin-bottom: 15px; cursor: pointer;">
    {{ isFormVisible ? 'Ukryj formularz' : 'Dodaj nową kryptowalutę' }}
  </button>

  @if (isFormVisible) {
    <div style="border: 1px solid #ccc; padding: 15px; margin-bottom: 20px; width: 300px; background-color: #f9f9f9;">
      <h3 style="margin-top: 0;">Nowa waluta</h3>
      
      <label>Symbol (np. BTC):</label><br>
      <input type="text" name="symbol" [(ngModel)]="newAsset.symbol" style="margin-bottom: 10px; width: 100%;"><br>

      <label>Ilość sztuk:</label><br>
      <input type="number" name="quantity" [(ngModel)]="newAsset.quantity" style="margin-bottom: 10px; width: 100%;"><br>

      <label>Cena Zakupu za szt. USD:</label><br>
      <input type="number" name="purchasePrice" [(ngModel)]="newAsset.purchasePrice" style="margin-bottom: 10px; width: 100%;"><br>

      <button (click)="onSubmit()" style="width: 100%; cursor: pointer;">Dodaj</button>
    </div>
  }

  <table border="1" cellpadding="8" cellspacing="0" style="width: 100%; text-align: left; border-collapse: collapse;">
    <thead style="background-color: #e0e0e0;">
      <tr>
        <th>Symbol</th>
        <th>Wolumen</th>
        <th>Cena Zakupu</th>
        <th>Aktualny Kurs</th>
        <th>Wartość Portfela</th>
        <th>Zysk / Strata</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      @for (asset of assets; track asset.id) {
        <tr>
          <td><b>{{ asset.symbol | uppercase }}</b></td>
          <td>{{ asset.quantity }}</td>
          <td>{{ asset.purchasePrice | currency:'USD' }}</td>
          <td>{{ asset.currentPrice ? (asset.currentPrice | currency:'USD') : 'Ładowanie...' }}</td>
          <td>{{ asset.totalValue ? (asset.totalValue | currency:'USD') : '-' }}</td>
          
          <td [style.color]="asset.profitLoss! > 0 ? 'green' : (asset.profitLoss! < 0 ? 'red' : 'black')">
            <b>{{ asset.profitLoss ? (asset.profitLoss | currency:'USD') : '-' }}</b>
          </td>
          <td>
            <button (click)="onDelete(asset.id)" style="color: red; cursor: pointer;">
              Usuń
            </button>
          </td>
        </tr>
      }
      @empty {
        <tr>
          <td colspan="6" style="text-align: center; padding: 20px;">
            Brak kryptowalut w bazie.
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>